<a href="https://colab.research.google.com/github/Jannatarajui/juiedge/blob/main/class4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x=5
y="jui"
print(x)
print(y)

5
jui

In [12]:
def check_even_or_odd(number):
    if number % 2 == 0:
        return "Even"
    else:
        return "Odd"

# Example usage:
num = int(input("Enter a number: "))
result = check_even_or_odd(num)
print(f"The number {num} is {result}.")

Enter a number: 56
The number 56 is Even.

In [8]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [2]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [3]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [15]:
x="c"
y="d"
print(x+y)

cd

In [17]:
name = "John"
age = 36
txt = "His name is {} and he is {} years old"
print(txt.format(name, age)) #altenative way
print(f'His name is {name} and he is {age} years old')

His name is John and he is 36 years old
His name is John and he is 36 years old

In [19]:
name = "kulcum"
age = 400
txt = "her name is {} and she is {} years old"
print(txt.format(name, age))

her name is kulcum and she is 400 years old